* {
  padding: 0px;
  margin: 0px;
  font-family: arial;
}

#login {
  width: 100%;
  height: 100vh;
  background-image: url("img/Poly-Lakeside.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.center {
  width: 350px;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 16px 0px #757575;
  padding: 40px;
}

.center h2 {
  font-size: 40px;
  text-align: center;
  color: #757575;
  padding-bottom: 40px;
}

.fl {
  width: 100%;
}

.itpw {
  width: 92%;
  padding: 13px 10px;
  margin: 5px 0px;
  background-color: ##d9edf7;
  border: 3px solid #dbdbdb;
  color: #757575;
  transition: all 0.7s;
}

.its {
  width: 99.7%;
  font-size: 19px;
  color: #f5f5f5;
  padding: 12px;
  margin: 5px 0;
  background-color: #1196e0;
  border: none;
  transition: all 0.4s;
}

.itpw:focus {
  border-bottom: 3px solid #004d40;
  color: #004d40
}

.its:hover , .its:focus {
  opacity: 0.7;
  cursor: pointer;
}

.center p {
  margin: 20px 0;
  text-align: center;
  font-size: 14px;
}

.center p a {
  color: #757575;
}

@media screen and (min-width:1500px) {

  .center {
    width: 350px;
  }

}

@media screen and (max-width:900px) {
  #login {
    background-size: 100% 100%;
  }

  .its {
    width: 100%;
  }

  .itpw {
    font-size: 14px;
    width: 90%;
    padding: 13px 3%;
  }

  .center {
    width: 230px;
  }

  .center p {
    font-size: 12px;
  }

}

@media screen and (max-width:350px) {
  .center {
    padding: 20px;
    width: 75%;
  }
}